.window{
	width: 60vmin;
	height: 23vmin;
	padding: 3vmin;
	color: black;
	background: rgba(255, 220, 47, 0.95);
	border: .5vmin outset #f4ae00;
	box-shadow: 2px 2px 10px black;
	margin: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.stroke-sub::before{
	content: attr(alt);
	position: absolute;
	-webkit-text-stroke: 0.25em #000;
	left: 0;
	z-index: -1;
}
#tutorial-outer{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}
#tutorial{
	background: rgb(246, 234, 212);
	color: black;
	border: 0.25em black solid;
	border-radius: 0.5em;
	width: 800px;
	padding: 1em;
	margin: 1em;
	font-size: 21px;
	position: relative;
}
.touch-enabled #tutorial{
	font-size: 3vmin;
}
#tutorial-title{
	z-index: 1;
	position: absolute;
	color: white;
	top: -0.7em;
	font-size: 1.65em;
}
#tutorial-content{
	margin: 0.7em 0;
	overflow-y: auto;
	max-height: calc(100vh - 14em);
}
kbd{
	font-family: inherit;
	padding: 0.1em 0.6em;
	border: 1px solid #ccc;
	font-size: 0.6em;
	background-color: #f7f7f7;
	color: #333;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	border-radius: 3px;
	display: inline-block;
	text-shadow: 0 1px 0 #fff;
	line-height: 1.4;
	white-space: nowrap;
}
.taibtn{
	display: inline-block;
	background: #f6ead4;
	padding: 0.4em 0.4em;
	border-radius: 0.5em;
	border: 0.1em rgba(218, 205, 178, 1) solid;
	cursor: pointer;
	font-size: 1.4em;
	box-sizing: border-box;
	color: #555;
	text-align: center;
}
#tutorial-end-button{
	float: right;
	padding: 0.4em 1.5em;
	font-weight: bold;
	border-color: #000;
	color: #000;
}
.taibtn:hover,
#tutorial-end-button:hover,
#tutorial-end-button.selected{
	position: relative;
	z-index: 1;
	color: #fff;
	background: #ffb547;
	border-color: #fff;
}
.taibtn::before{
	padding-left: inherit;
}
#about-link-btns{
	float: left;
	display: flex;
}
#about-link-btns .taibtn{
	margin-right: 0.4em;
}
#diag-txt textarea,
#diag-txt iframe{
	width: 100%;
	height: 5em;
	font-size: inherit;
	resize: none;
	word-break: break-all;
	margin-bottom: 1em;
	background: #fff;
	border: 1px solid #a9a9a9;
	user-select: all;
}
.text-warn{
	color: #d00;
}
.link-btn a{
	color: inherit;
	text-decoration: none;
	pointer-events: none;
}
.nowrap{
	white-space: nowrap;
}
#session-invite{
	width: 100%;
	height: 1.9em;
	font-family: sans-serif;
	font-size: 2em;
	background: #fff;
	border: 1px solid #a9a9a9;
	padding: 0.3em;
	margin: 0.3em 0;
	box-sizing: border-box;
	text-align: center;
	user-select: all;
	cursor: text;
	overflow: hidden;
}
.setting-box{
	display: flex;
	height: 2em;
	margin-top: 1.2em;
	border: 0.25em solid #000;
	border-radius: 0.5em;
	padding: 0.3em;
	outline: none;
	color: #000;
	cursor: pointer;
}
.setting-box:first-child{
	margin-top: 0;
}
#tutorial-content:not(:hover) .setting-box.selected,
.setting-box:hover{
	background: #ffb547;
	border-color: #21211a;
}
.setting-name{
	position: relative;
	width: 50%;
	padding: 0.3em;
	font-size: 1.3em;
	box-sizing: border-box;
}
#tutorial-content:not(:hover) .setting-box.selected .setting-name,
.setting-box:hover .setting-name{
	color: #fff;
	z-index: 0;
}
.setting-name::before{
	padding-left: 0.3em;
}
.setting-value{
	background: #fff;
	width: 50%;
	border-radius: 0.2em;
	padding: 0.5em;
	box-sizing: border-box;
}
@keyframes bgscroll{
	from{
		background-position: 0 top;
	}
	to{
		background-position: calc(-100vh / 720 * 512) top;
	}
}
#song-select{
	width: 100%;
	height: 100%;
	background-size: calc(100vh / 720 * 512);
	background-repeat: repeat no-repeat;
	animation: bgscroll 16s infinite linear;
	white-space: nowrap;
	transition: background-image 0.5s;
}
#song-sel-canvas{
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
}
#song-select #touch-full-btn{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 12.5vmin;
	height: 12.5vmin;
	opacity: 0.5;
	background-size: contain;
	background-repeat: no-repeat;
}
#song-sel-selectable{
	position: absolute;
	opacity: 1;
	text-align: center;
	word-break: break-all;
	white-space: pre-wrap;
	user-select: all;
	cursor: text;
	color: transparent;
}
#song-sel-selectable:focus{
	background: #ffdb2c;
	color: #000;
}
#song-sel-selectable .stroke-sub{
	position: absolute;
	z-index: 1;
}
#song-sel-selectable .stroke-sub::before{
	-webkit-text-stroke: 0;
}
#song-sel-selectable:focus .stroke-sub::before{
	-webkit-text-stroke: 0.25em #fff;
}

#version {
	position: fixed;
	z-index: 1000;
	font-size: 2vh;
	position: absolute;
	bottom: 1vh;
	right: 1vh;
	opacity: 0.7;
	font-family: TnT, Meiryo, sans-serif;
}
#version:hover{
	opacity: 1;
}

#version-link{
	color: #FFFFFF;
	text-decoration: none;
	pointer-events: none;
}

.version-hide{
    pointer-events: none;
}
