@keyframes toggleFade{
	40%{
		opacity: 1;
	}
	70%{
		opacity: 0.2;
	}
}
#title-screen{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1389f0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}
.logo-big{
	width: 90vmin;
	height: calc(90vmin / 754 * 400);
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	color: transparent;
}
.click-to-continue{
	position: absolute;
	bottom: 10%;
	color: #fff;
	font-size: 8vmin;
	text-align: center;
	z-index: 1;
	animation: toggleFade 2s infinite ease-in-out;
}
.click-to-continue::before{
	-webkit-text-stroke: 0.25em #f00;
	filter: blur(0.3vmin);
}
#lang{
	font-size: 3vmin;
	position: absolute;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: auto 70%;
	background-position: center;
	width: 4em;
	height: 4em;
}
#lang:focus-within{
	outline: #4d90fe auto 5px;
}
#lang-dropdown{
	font-size: 1.7em;
	font-family: Microsoft YaHei, sans-serif;
	opacity: 0;
	width: 100%;
	height: 100%;
}
