@keyframes toggleFade{
	40%{
		opacity: 1;
	}
	70%{
		opacity: 0.2;
	}
}
#title-screen{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1389f0 url("/assets/img/title-screen.png") no-repeat center;
	background-size: cover;
	cursor: pointer;
}
.logo-big{
	width: 90vmin;
	height: auto;
}
.click-to-continue{
	position: absolute;
	bottom: 10%;
	color: #fff;
	font-size: 8vmin;
	text-align: center;
	z-index: 1;
	animation: toggleFade 2s infinite ease-in-out;
}
.click-to-continue::before{
	-webkit-text-stroke: 0.25em #f00;
	left: auto;
}
#screen:not(.disable-blur) .click-to-continue::before{
	filter: blur(0.3vmin);
}
