.view-outer{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
}
.view{
	background: rgb(246, 234, 212);
	color: black;
	border: 0.25em black solid;
	border-radius: 0.5em;
	width: 800px;
	max-width: 40em;
	padding: 1em;
	margin: 1em;
	font-size: 21px;
	position: relative;
}
@media (max-width: 950px){
	.view-outer:not(.touch-enabled) .view{
		font-size: 3vmin;
	}
}
@media (max-height: 650px){
	.view-outer:not(.touch-enabled) .view{
		font-size: 3vmin;
	}
}
.touch-enabled .view{
	font-size: 3vmin;
}
.view-title{
	z-index: 1;
	position: absolute;
	color: white;
	top: -0.7em;
	font-size: 1.65em;
}
.view-content{
	margin: 0.7em 0;
	overflow-y: auto;
	max-height: calc(100vh - 14em);
}
kbd{
	font-family: inherit;
	padding: 0.1em 0.6em;
	border: 1px solid #ccc;
	font-size: 0.6em;
	background-color: #f7f7f7;
	color: #333;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	border-radius: 3px;
	display: inline-block;
	text-shadow: 0 1px 0 #fff;
	line-height: 1.4;
	white-space: nowrap;
}
.taibtn{
	display: inline-block;
	background: #f6ead4;
	padding: 0.4em 0.4em;
	border-radius: 0.5em;
	border: 0.1em rgba(218, 205, 178, 1) solid;
	cursor: pointer;
	font-size: 1.4em;
	box-sizing: border-box;
	color: #555;
	text-align: center;
}
.view-end-button{
	float: right;
	padding: 0.4em 1.5em;
	font-weight: bold;
	border-color: #000;
	color: #000;
	z-index: 1;
}
.taibtn:hover,
.taibtn.selected,
.view-end-button:hover,
.view-end-button.selected{
	position: relative;
	color: #fff;
	background: #ffb547;
	border-color: #fff;
}
.taibtn::before,
.view-end-button::before{
	display: none;
}
.taibtn:hover::before,
.taibtn.selected::before,
.view-end-button:hover::before,
.view-end-button.selected::before{
	display: block
}
.taibtn::before{
	padding-left: inherit;
}
.left-buttons{
	float: left;
	display: flex;
}
.left-buttons .taibtn{
	margin-right: 0.4em;
}
#diag-txt textarea,
#diag-txt iframe{
	width: 100%;
	height: 5em;
	font-size: inherit;
	resize: none;
	word-break: break-all;
	margin-bottom: 1em;
	background: #fff;
	border: 1px solid #a9a9a9;
	user-select: all;
}
.text-warn{
	color: #d00;
}
.link-btn a{
	color: inherit;
	text-decoration: none;
	pointer-events: none;
}
.nowrap{
	white-space: nowrap;
}
@keyframes border-pulse{
	0%{border-color: #ff0}
	50%{border-color: rgba(255, 255, 0, 0)}
	100%{border-color: #ff0}
}
@keyframes border-pulse2{
	0%{border-color: #e29e06}
	50%{border-color: rgba(226, 158, 6, 0)}
	100%{border-color: #e29e06}
}
.settings-outer{
	background-size: 50vh;
}
.setting-box{
	display: flex;
	height: 2em;
	margin-top: 1.2em;
	border: 0.25em solid #000;
	border-radius: 0.5em;
	padding: 0.3em;
	outline: none;
	color: #000;
	cursor: pointer;
}
.setting-box:first-child{
	margin-top: 0;
}
.settings-outer .view-content:not(:hover) .setting-box.selected,
.view-outer:not(.settings-outer) .setting-box.selected,
.setting-box:hover{
	background: #ffb547;
	animation: 2s linear border-pulse infinite;
}
.bold-fonts .setting-box{
	line-height: 1em;
}
.setting-name{
	position: relative;
	width: 50%;
	padding: 0.3em;
	font-size: 1.3em;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
}
.view-content:not(:hover) .setting-box.selected .setting-name,
.view-outer:not(.settings-outer) .setting-box.selected .setting-name,
.setting-box:hover .setting-name,
.setting-box:hover #gamepad-value{
	color: #fff;
	z-index: 0;
}
.setting-name::before{
	padding-left: 0.3em;
}
.setting-value{
	display: flex;
	background: #fff;
	width: 50%;
	border-radius: 0.2em;
	padding: 0.5em;
	box-sizing: border-box;
}
.setting-value.selected{
	width: calc(50% + 0.2em);
	margin: -0.1em;
	border: 0.2em solid #e29e06;
	padding: 0.4em;
	animation: 2s linear border-pulse2 infinite;
}
.setting-value>div{
	padding: 0 0.4em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shadow-outer{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
#settings-gamepad{
	display: none;
}
#settings-gamepad .view{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 574px;
	height: 428px;
	max-height: calc(100vh - 14em + 88px);
}
#settings-gamepad .setting-box{
	height: auto;
}
#gamepad-bg{
	position: relative;
	width: 550px;
	height: 317px;
	max-height: none;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 1.4em;
	cursor: pointer;
}
#gamepad-buttons{
	position: absolute;
	left: 141px;
	top: 120px;
	width: 282px;
	height: 131px;
	background-position: 0 -318px;
	background-repeat: no-repeat;
	pointer-events: none;
}
#gamepad-value{
	position: relative;
	margin-top: 1em;
}
#gamepad-value::before{
	left: auto;
}
