.pattern-bg{
	background-image: url("bg-pattern-1.png");
}
#song-select{
	background-image: url("bg_genre_0.png");
}
#title-screen{
	background-image: url("title-screen.png");
}
#loading-don{
	background-image: url("dancing-don.gif");
}
#touch-full-btn{
	background-image: url("touch_fullscreen.png");
}
#touch-pause-btn{
	background-image: url("touch_pause.png");
}
.settings-outer{
	background-image: url("bg_settings.png");
}
#gamepad-bg,
#gamepad-buttons{
	background-image: url("settings_gamepad.png");
}
