#game{
	width:100%;
	height:100%;
	overflow: hidden;
}

#canvas{
	width:100%;
	height:100%;
}

#pause-menu{
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,0.75);
}

#pause-menu button{
	
	width: 90%;
	height: 25%;
	display: block;
	margin: auto auto 30px;
	cursor: pointer;
	border:5px solid #ae7a26;
	background: rgb(255, 255, 255);
	color: black;
	font-family: TnT;
	font-size: 5vmin;
	border-radius: 10px;
}

#pause-menu button:hover{
	border-color:#fa5d3a;
    color:white;
    background:#0c6577;
}

