<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Taiko Web Admin</title>
        <link rel="icon" href="{{config.assets_baseurl}}img/favicon.png" type="image/png">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
        <link href="/src/css/admin.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="nav">
                <a href="/admin/songs">Songs</a>
                <a href="/admin/users">Users</a>
            </div>
        </header>
        
        <main>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>
