<!----------------------------------------------------------------------->
<!--                                                                   -->
<!--                      TAIKO WEB TATSUJIN                           -->
<!--                           2015-2018                               -->
<!--           Created by Clemaister, maintained by Bui                -->
<!--               https://github.com/bui/taiko-web                    -->
<!--                                                                   -->
<!----------------------------------------------------------------------->


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>太鼓の達人ウェブ - Taiko no Tatsujin Web</title>
	<link rel="icon" href="/assets/img/favicon.png" type="image/png">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	<link rel="stylesheet" href="/src/css/main.css?{{version.commit_short}}"/>
	<link rel="stylesheet" href="/src/css/loader.css?{{version.commit_short}}">
	<link rel="stylesheet" href="/src/css/titlescreen.css?{{version.commit_short}}">
	<link rel="stylesheet" href="/src/css/loadsong.css?{{version.commit_short}}">
	<link rel="stylesheet" href="/src/css/game.css?{{version.commit_short}}">
	
	<script src="/src/js/lib/fontdetect.min.js?{{version.commit_short}}"></script>
	
	<script src="/src/js/assets.js?{{version.commit_short}}"></script>
	<script src="/src/js/loadsong.js?{{version.commit_short}}"></script>
	<script src="/src/js/parsesong.js?{{version.commit_short}}"></script>
	<script src="/src/js/titlescreen.js?{{version.commit_short}}"></script>
	<script src="/src/js/scoresheet.js?{{version.commit_short}}"></script>
	<script src="/src/js/songselect.js?{{version.commit_short}}"></script>
	<script src="/src/js/keyboard.js?{{version.commit_short}}"></script>
	<script src="/src/js/game.js?{{version.commit_short}}"></script>
	<script src="/src/js/controller.js?{{version.commit_short}}"></script>
	<script src="/src/js/circle.js?{{version.commit_short}}"></script>
	<script src="/src/js/view.js?{{version.commit_short}}"></script>
	<script src="/src/js/mekadon.js?{{version.commit_short}}"></script>
	<script src="/src/js/gamepad.js?{{version.commit_short}}"></script>
	<script src="/src/js/tutorial.js?{{version.commit_short}}"></script>
	<script src="/src/js/scalablecanvas.js?{{version.commit_short}}"></script>
	<script src="/src/js/element.js?{{version.commit_short}}"></script>
	<script src="/src/js/soundbuffer.js?{{version.commit_short}}"></script>
	<script src="/src/js/p2.js?{{version.commit_short}}"></script>
	<script src="/src/js/canvasasset.js?{{version.commit_short}}"></script>
	<script src="/src/js/pageevents.js?{{version.commit_short}}"></script>
	<script src="/src/js/viewassets.js?{{version.commit_short}}"></script>
	<script src="/src/js/gamerules.js?{{version.commit_short}}"></script>
	<script src="/src/js/canvasdraw.js?{{version.commit_short}}"></script>
	<script src="/src/js/loader.js?{{version.commit_short}}"></script>
	<script src="/src/js/canvastest.js?{{version.commit_short}}"></script>
	<script src="/src/js/canvascache.js?{{version.commit_short}}"></script>
	
</head>
<body>
	<div id="assets"></div>
	<div id="screen"></div>
	<div id="version"><a href="https://github.com/bui/taiko-web/commit/{{version.commit}}" target="_blank" class="stroke-sub" alt="taiko-web ver.{{version.version}} ({{version.commit_short}})">taiko-web ver.{{version.version}} ({{version.commit_short}})</a></div>
	<script src="/src/js/main.js?{{version.commit_short}}"></script>
</body>
</html>