<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>太鼓ウェブ - Taiko Web</title>
	<link rel="icon" href="{{config.assets_baseurl}}img/favicon.png" type="image/png">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="description" content="パソコンとスマホのブラウザ向けの太鼓の達人シミュレータ 🥁 Taiko no Tatsujin rhythm game simulator for desktop and mobile browsers">

	<link rel="stylesheet" href="/src/css/loader.css?{{version.commit_short}}">

	<script src="/src/js/assets.js?{{version.commit_short}}"></script>
	<script src="/src/js/strings.js?{{version.commit_short}}"></script>
	<script src="/src/js/pageevents.js?{{version.commit_short}}"></script>
	<script src="/src/js/loader.js?{{version.commit_short}}"></script>
	
</head>
<body>
	<div id="assets"></div>
	<div id="screen" class="pattern-bg"></div>
	<div id="version">
		{% if version.version and version.commit_short and version.commit %}
			<a href="{{version.url}}commit/{{version.commit}}" target="_blank" id="version-link" class="stroke-sub" alt="taiko-web ver.{{version.version}} ({{version.commit_short}})">taiko-web ver.{{version.version}} ({{version.commit_short}})</a>
		{% else %}
			<a href="{{version.url}}" target="_blank" id="version-link" class="stroke-sub" alt="taiko-web (unknown version)">taiko-web (unknown version)</a>
		{% endif %}
	</div>
	<script src="/src/js/browsersupport.js?{{version.commit_short}}"></script>
	<script src="/src/js/main.js?{{version.commit_short}}"></script>
</body>
</html>