<div class="view-outer">
	<div class="view">
		<div class="view-title stroke-sub"></div>
		<div class="view-content"></div>
		<div id="diag-txt"></div>
		<div class="left-buttons">
			<div id="link-issues" class="taibtn stroke-sub link-btn" alt="Issues">
				<a target="_blank">Issues</a>
			</div>
			<div id="link-email" class="taibtn stroke-sub link-btn" alt="taiko@bui.pm">
				<a href="mailto:taiko@bui.pm">taiko@bui.pm</a>
			</div>
		</div>
		<div class="view-end-button taibtn stroke-sub selected"></div>
	</div>
</div>
