<div id="tutorial-outer">
	<div id="tutorial">
		<div id="tutorial-title" class="stroke-sub"></div>
		<div id="tutorial-content"></div>
		<div id="diag-txt"></div>
		<div id="about-link-btns">
			<div id="link-issues" class="taibtn stroke-sub link-btn" alt="Issues">
				<a target="_blank">Issues</a>
			</div>
			<div id="link-email" class="taibtn stroke-sub link-btn" alt="taiko@bui.pm">
				<a href="mailto:taiko@bui.pm">taiko@bui.pm</a>
			</div>
		</div>
		<div id="tutorial-end-button" class="taibtn stroke-sub selected"></div>
	</div>
</div>
