<div id="tutorial-outer">
	<div id="tutorial">
		<div id="tutorial-title" class="stroke-sub" alt="このシミュレータについて / About">このシミュレータについて / About</div>
		<div id="tutorial-content">
			このシミュレータは現在開発中です。<br>
			バグが発生した場合は、報告してください。<br>
			GitHubかメールでバグを報告してください。<br>
			<span class="text-warn">以下の診断情報を含めてください！</span><br>
			<br>
			This simulator is still in development.<br>
			Please report any bugs you find.<br>
			You can report bugs either via GitHub or email.<br>
			<span class="text-warn">Be sure to include the following diagnostic data!</span>
			
		</div>
		<div id="diag-txt"></div>
		<div id="about-link-btns">
			<div id="link-github" class="taibtn stroke-sub link-btn" alt="GitHub">
				<a href="https://github.com/bui/taiko-web/issues/new" target="_blank">GitHub</a>
			</div>
			<div id="link-email" class="taibtn stroke-sub link-btn" alt="taiko@bui.pm">
				<a href="mailto:taiko@bui.pm">taiko@bui.pm</a>
			</div>
		</div>
		<div id="tutorial-end-button" class="taibtn stroke-sub" alt="OK">OK</div>
	</div>
</div>
