<div class="view-outer">
	<div class="view account-view">
		<div class="view-title stroke-sub"></div>
		<div class="view-content">
			<div class="error-div"></div>
			<div class="displayname-div">
				<div class="displayname-hint"></div>
				<input type="text" class="displayname" maxlength="25">
			</div>
			<div class="customdon-div">
				<canvas class="customdon-canvas" width="254" height="184"></canvas>
				<div>
					<label>
						<input type="color" class="customdon-bodyfill">
					</label>
					<label>
						<input type="color" class="customdon-facefill">
					</label>
					<label>
						<input type="button" class="customdon-reset" value="Reset">
					</label>
				</div>
			</div>
			<form class="accountpass-form">
				<div>
					<div class="accountpass-btn taibtn stroke-sub link-btn"></div>
				</div>
				<div class="accountpass-div">
					<input type="password" name="password"><input type="password" name="newpassword" autocomplete="new-password"><input type="password" name="newpassword2" autocomplete="new-password">
				</div>
			</form>
			<form class="accountdel-form">
				<div>
					<div class="accountdel-btn taibtn stroke-sub link-btn"></div>
				</div>
				<div class="accountdel-div">
					<input type="password" name="password">
				</div>
			</form>
			<div class="center-buttons">
				<div>
					<div class="privacy-btn taibtn stroke-sub link-btn"></div>
				</div>
			</div>
		</div>
		<div id="diag-txt"></div>
		<div class="left-buttons">
			<div class="logout-btn taibtn stroke-sub link-btn"></div>
		</div>
		<div class="save-btn taibtn stroke-sub selected"></div>
		<div class="view-end-button taibtn stroke-sub"></div>
	</div>
</div>
