<div class="view-outer">
	<div class="view drag-bg">
		<div class="view-title stroke-sub"></div>
		<div class="view-content"></div>
		<div class="center-buttons">
			<div>
				<div id="link-localfolder" class="taibtn stroke-sub link-btn"></div>
			</div>
			<div id="group-gdrive">
				<div id="link-gdrivefolder" class="taibtn stroke-sub link-btn"></div>
				<div id="link-gdriveaccount" class="taibtn stroke-sub link-btn"></div>
			</div>
		</div>
		<div class="left-buttons">
			<div id="link-privacy" class="taibtn stroke-sub link-btn"></div>
		</div>
		<div class="view-end-button taibtn stroke-sub"></div>
		<div class="view-outer shadow-outer" id="dropzone">
			<div class="view">
				<div class="view-content"></div>
			</div>
		</div>
		<div class="view-outer shadow-outer" id="customsongs-error">
			<div class="view">
				<div class="view-title stroke-sub"></div>
				<div class="view-content"></div>
				<div class="view-end-button taibtn stroke-sub selected"></div>
			</div>
		</div>
	</div>
	<form><input id="browse" type="file" webkitdirectory multiple></form>
</div>
