<div class="title stroke-sub" alt="Debug">Debug</div>
<div class="minimise"></div>
<div class="content">
	<div>Song offset:</div>
	<div class="offset input-slider">
		<span class="reset">x</span><input type="text" value="" readonly><span class="minus">-</span><span class="plus">+</span>
	</div>
	<div>Starting measure:</div>
	<div class="measure-num input-slider">
		<span class="reset">x</span><input type="text" value="" readonly><span class="minus">-</span><span class="plus">+</span>
	</div>
	<div class="branch-hide">
		<div>Branch:</div>
		<div class="branch-select select">
			<span class="reset">x</span><select>
				<option value="auto" selected style="background:#fff">Auto</option>
				<option value="normal" style="background:#ccc">Normal</option>
				<option value="advanced" style="background:#bdf">Professional</option>
				<option value="master" style="background:#ebf">Master</option>
			</select>
		</div>
	</div>
	<div>Music volume:</div>
	<div class="music-volume input-slider">
		<span class="reset">x</span><input type="text" value="" readonly><span class="minus">-</span><span class="plus">+</span>
	</div>
	<div class="lyrics-hide">
		<div>Lyrics offset:</div>
		<div class="lyrics-offset input-slider">
			<span class="reset">x</span><input type="text" value="" readonly><span class="minus">-</span><span class="plus">+</span>
		</div>
	</div>
	<label class="change-restart-label"><input class="change-restart" type="checkbox">Restart on change</label>
	<label class="autoplay-label"><input class="autoplay" type="checkbox">Auto play</label>
	<div class="bottom-btns">
		<div class="restart-btn">Restart song</div>
		<div class="exit-btn">Exit debug</div>
	</div>
</div>
