<div id="game">
	<div id="touch-drum">
		<div id="touch-drum-img"></div>
	</div>
	<canvas id="canvas"></canvas>
	<div id="pause-menu">
		<div class="window">
			<button type="button" id="continue-butt" class="selected">Continue</button>
			<button type="button" id="restart-butt">Restart</button>
			<button type="button" id="song-selection-butt">Song selection</button>
		</div>
	</div>
	<div id="touch-buttons">
		<div id="touch-full-btn"></div><div id="touch-pause-btn"></div>
	</div>
	<div id="cursor"></div>
</div>
