<div class="view-outer">
	<div class="view">
		<div class="view-title stroke-sub"></div>
		<div class="view-content">
			<div class="error-div"></div>
			<form class="login-form">
				<div class="username-hint"></div>
				<input type="text" name="username" maxlength="20" required>
				<div class="password-hint"></div>
				<input type="password" name="password" required>
				<div class="password2-div"></div>
				<div class="remember-div">
					<label class="remember-label">
						<input type="checkbox" checked="checked" name="remember">
					</label>
				</div>
				<div class="login-btn taibtn stroke-sub link-btn"></div>
			</form>
		</div>
		<div class="left-buttons">
			<div class="register-btn taibtn stroke-sub link-btn"></div>
			<div class="privacy-btn taibtn stroke-sub link-btn"></div>
		</div>
		<div class="view-end-button taibtn stroke-sub selected"></div>
	</div>
</div>
