<div id='scoresheet'>
	
	<div id='top-part'>
		<h2 alt="成績発表" class="stroke-main result-title">成績発表</h2>
		<h3 alt="" class="stroke-sub result-song"></h3>
	</div>
	
	<div id='result-bar'>
		
		<img id='score-mark' />
		
		<div id='score-cont'>
			<div id='score-hp-bar-bg'>
				<div id='score-hp-bar-colour'>
					<img  src="/assets/img/hp-bar-colour.png" />
				</div>
			</div> 
		
			<div id='score-points'></div>
			<table id='score-details'>
				<tr>
					<td class='floatLeft'>良</td><td class='value' id='nb-great'></td>
					<td>最大コンボ数</td><td class='value' id='max-combo'></td>
				</tr>
				<tr>
					<td class='floatLeft'>可</td><td class='value' id='nb-good'></td>
					<!--<td>連打数</td><td id='nb-rendasu'></td>-->
				</tr>
				<tr>
					<td class='floatLeft'>不可</td><td class='value' id='nb-fail'></td>
					<td></td><td></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div id='bottom-part'>
		<div class='gradient-overlay'></div>
		<button type='button' id='song-select'>Song select</button>
		<button type='button' id='replay'>Replay</button>
	</div>
	
</div>