<div class="view-outer settings-outer">
	<div class="view">
		<div class="view-title stroke-sub"></div>
		<div class="view-content"></div>
		<div class="left-buttons">
			<div id="settings-default" class="taibtn stroke-sub"></div>
		</div>
		<div class="view-end-button taibtn stroke-sub"></div>
		<div class="view-outer shadow-outer" id="settings-gamepad">
			<div class="view">
				<div class="view-title stroke-sub"></div>
				<div class="view-content">
					<div class="setting-box">
						<div id="gamepad-bg">
							<div id="gamepad-value" class="stroke-sub"></div>
							<div id="gamepad-buttons"></div>
						</div>
					</div>
				</div>
				<div class="view-end-button taibtn stroke-sub selected"></div>
			</div>
		</div>
		<div class="view-outer shadow-outer" id="settings-latency">
			<div class="view">
				<div class="view-title stroke-sub"></div>
				<div class="view-content"></div>
				<div class="left-buttons">
					<div id="latency-default" class="taibtn stroke-sub"></div>
				</div>
				<div class="view-end-button taibtn stroke-sub"></div>
			</div>
		</div>
	</div>
</div>
