<div id="title-screen">
	<canvas id="logo"></canvas>
	<div class="click-to-continue stroke-sub" id="title-proceed"></div>
	<div id="title-disclaimer">
		<span class="stroke-sub" id="title-disclaimer-text"></span>
		<span class="stroke-sub" id="title-disclaimer-copyright"></span>
	</div>
</div>
<div id="lang">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" id="lang-icon"><circle cx="19" cy="19" r="19"/><path id="globe-path" style="fill:none;stroke-width:2;stroke:#fff"/><circle cx="19" cy="19" r="15" style="fill:none;stroke-width:2;stroke:#fff"/></svg>
	<div id="lang-id" class="stroke-sub"></div>
	<select id="lang-dropdown"></select>
</div>
