<div id="title-screen">
	<div class="logo-big">太鼓の達人ウェブ</div>
	<div class="click-to-continue stroke-sub" id="title-proceed"></div>
</div>
<div id="lang">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" id="lang-icon"><circle cx="19" cy="19" r="19"/><path d="M19 4V34M19 4C13 4 9 12 9 19 9 26 13 34 19 34 25 34 29 26 29 19 29 12 25 4 19 4ZM6 11H32M4 19H34M6 27h26" style="fill:none;stroke-width:2;stroke:#fff"/><circle cx="19" cy="19" r="15" style="fill:none;stroke-width:2;stroke:#fff"/></svg>
	<div id="lang-id" class="stroke-sub"></div>
	<select id="lang-dropdown"></select>
</div>
