<div id="tutorial-outer">
	<div id="tutorial">
		<div id="tutorial-title" class="stroke-sub" alt="How to Play">How to Play</div>
		<div id="tutorial-content">
			<p>Hit the drum when the notes reach the taiko!</p>
			<p>For red notes, hit the face of the drum (<kbd>F</kbd> or <kbd>J</kbd>)...</p>
			<p>...and for blue notes, hit the rim! (<kbd>D</kbd> or <kbd>K</kbd>)</p>
			<p>USB controllers are also supported!</p>
			<p>
				<span style="font-weight:bold;">Other controls</span><br>
				<kbd>Q</kbd> &mdash; pause game<br>
				<kbd>SHIFT</kbd> while selecting difficulty &mdash; enable autoplay mode<br>
				<kbd>CTRL</kbd> while selecting difficulty &mdash; enable 2P mode
			</p>
		</div>

		<div id="tutorial-end-button" class="taibtn stroke-sub" alt="OK">OK</div>
	</div>
</div>
