<div id="tutorial-outer">
	<div id="tutorial">
		<div id="tutorial-title" class="stroke-sub" alt="How to Play">How to Play</div>
		<div id="tutorial-content">
			<p>Hit the drum when the notes reach the taiko!</p>
			<p>For red notes, hit the face of the drum (<kbd>V</kbd> or <kbd>B</kbd>)...</p>
			<p>...and for blue notes, hit the rim! (<kbd>C</kbd> or <kbd>N</kbd>)</p>
			<p>You can also press <kbd>Q</kbd> to pause, and hold <kbd>SHIFT</kbd> while selecting a difficulty to enter autoplay mode!</p>
		</div>

		<div id="tutorial-end-button" class="taibtn stroke-sub" alt="OK">OK</div>
	</div>
</div>
